.header-con {
  height: 10vh;
  background-color: #272727;
  width: 100%;
}
.small-logo-img {
  width: 80px;
  height: 30px;
}
@media screen and (min-width: 768px) {
  .header-con {
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
  }
}
.item-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 50px;
  height: 70px;
  padding-right: 0px;
  margin-left: 80px;
}
.item {
  list-style: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.large-logo-img {
  width: 150px;
  height: 50px;
}
.header-links-con {
  display: flex;
  flex-direction: row;
}
.header-links {
  color: #f8fafc;
  font-size: 20px;
  font-family: roboto;
  margin: 10px;
}
.logout-button {
  background-color: #4f46e5;
  color: #f8fafc;
  border-width: 0px;
  border-radius: 8px;
}
.icon-button {
  background-color: transparent;
}
.icon {
  font-size: 25px;
}
.large {
  display: none;
}
.small {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  height: 10vh;
  width: 100vw;
}

@media screen and (min-width: 768px) {
  .small {
    display: none;
  }
  .large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
  }
}
.logout-button {
  background-color: #6366f1;
  width: 110px;
}
.large-item {
  width: 70px;
}
